*.map
*.bak
*.log
./logs
.idea
venv
/.venv
./build
build/
docs/_build
./dist*
./*.zip
*.pyc
*.pyo
*.pot
.tox/
*~
#*
*.1
*.bak
*.bak2
*.svn
*.egg-info/
*.python-version
.coverage
*.sw[po]
Thumbs.db
.DS_Store
*.DS_Store
logs/
/errors
/sessions
site-packages/
__pycache__
/__pycache__/*
*.sqlite3
.vscode
.vscode/*
/.vscode/settings.json
local_settings.py
db.sqlite3
media
*~HEAD
*.css~HEAD
/pizzas/migrations/0001_initial.py
/pizzas/migrations/0002_auto_20200503_1112.py